{% extends "layout.html" %}
{% block body %}
<div class="b-example-divider"></div>

<!-- First Hero: text-picture -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/first.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">The most comprehensive set publicly accessible.</h1>
      <p class="lead">OpenUr encompasses every command up to version 5.12, allowing you to optimize your robot's performance.</p>
    </div>
  </div>
</div>

<!-- Second Hero: picture-text -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/third.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Order of Commands</h1>
      <p class="lead">OpenUr recognizes the sequence in which commands are to be run, ensuring that previously sent instructions are executed prior to the new ones.</p>
    </div>
  </div>
</div>

<!-- Third Hero: text-picture -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="static/second.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Stable communication</h1>
      <p class="lead">The package seamlessly manages reconnections during any connection disruptions, ensuring commands are executed without fail.</p>
    </div>
  </div>
</div>
{% endblock body %}
