{% extends "layout.html" %}
{% block body %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="static/github.svg" alt="The OpenUr Logo" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">OpenUr</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">"Introducing a comprehensive package designed to grant you unparalleled control over your Universal Robots. At present, our Dashboard services integrate seamlessly, boasting a detailed logging feature that captures every move. In addition, we've incorporated the Real-Time Client commands. While this feature is currently in its beta testing phase and showing promising results, we advise users to employ it judiciously and with caution."</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://pypi.org/project/OpenUr/" class="btn btn-primary btn-lg px-4 gap-3">Download</a>
        <!-- Updated the Documentation button to open the provided link -->
        <a href="https://jp-beck.github.io/learnur/OpenUr/" target="_blank" class="btn btn-outline-secondary btn-lg px-4">Documentation</a>
      </div>
    </div>
  </div>
{% endblock body %}
