{% extends "layout.html" %}
{% block body %}
<div class="container mt-5 mb-7">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark">
                <div class="card-header text-light">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="email" class="form-label text-light">Email</label>
                            {{ form.email(class="form-control", placeholder="Enter email", id="email", required=true) }}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger mt-2">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-light">Password</label>
                            {{ form.password(class="form-control", placeholder="Enter password", id="password", required=true) }}
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger mt-2">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3 form-check">
                            {{ form.remember(class="form-check-input", id="rememberMe") }}
                            <label class="form-check-label text-light" for="rememberMe">Remember Me</label>
                        </div>
                        <button type="submit" class="btn btn-light mb-3">Login</button>
                        <div class="text-end">
                            <a href="{{ url_for('users.reset_request')}}" class="text-decoration-none text-light">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
